src/main/resources/META-INF/binggo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.binggo.org/schema"
	targetNamespace="http://www.binggo.org/schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://www.springframework.org/schema/beans"
		schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd" />
	
	<xsd:element name="person">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[The definition of a person.]]>
			</xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" use="required" />
					<xsd:attribute name="age" type="xsd:int" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	

</xsd:schema>